* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f4f8;
}

.container {
  max-width: 480px;
  margin: auto;
  background: white;
  min-height: 100vh;
}

/* HERO */
.hero {
  
  
  text-align: center;
  padding: 40px 20px;



  height: 50vh;
  background: url("herosection.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #6be26b;
}

.tagline {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.start-btn {
  background: #ff6a00;
  border: none;
  padding: 14px 20px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.card {
  background: #f5f7fa;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  font-size: 14px;
}

/* AUTH */
.auth {
  display: flex;
  gap: 10px;
  padding: 0 20px 20px;
}

.login, .signup {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.login {
  background: #1f4c7a;
  color: white;
}

.signup {
  background: #3dbb3d;
  color: white;
}

/* RUNNERS */
.runners {
  padding: 20px;
  text-align: center;
}

.runner-list {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.runner img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.runner p {
  font-size: 13px;
  margin-top: 6px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #777;
}



/* profileicon */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
  font-weight: bold;
}

/* PROFILE */
.profile-wrapper {
  position: relative;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* DROPDOWN */
.profile-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background: rgb(241, 249, 255);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 160px;
  padding: 10px;
  display: none;
}

.profile-menu p {
  margin: 5px 0 10px;
  font-weight: 600;
}

.profile-menu button {
  width: 100%;
  padding: 8px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.profile-menu button:hover {
  background: #ffffff;
}
